*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter;
}
a{
    text-decoration: none;
    color: black;
}
ul li{
    list-style: none;
}
.main{
    /* background-image: url(../img/Ellipse\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    height: 800px;
}

.full-width{
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar{
    width: 100%;
    display: block;
    position: relative;
    padding: 20px;
}
.logo_brand{
    width: 10%;
    display: flex;
    color: #1D2830;
    font-family: Josefin Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.menu_list{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
.menu_list ul li{
    list-style: none;
    margin-left: 10px;
    cursor: pointer;
}
.right_side_btn{
    width: 30%;
}
.btn_login{
    width: 100px;
    border: none;
    cursor: pointer;
    font-family:Inter;
    background-color: transparent;
}
.get_btn{
    width: 169px;
    height: 48px;
    border-radius: 4px;
    background-color: #ECE5FF;
    color: #794CFF;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.banner_section{
    background-image: url(../img/Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
} 
.inner_banner{
    padding: 20px;
}
.top_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 20px;
}
.tag_green{
    background-color: #81C43B;
    color: #fff;
    width: 100px;
    padding: 10px;
    border-radius: 60px;
    border: none;
}
.banner_text_area, h1 .para1{
    display: flex;
    color: #35414B;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
}
.banner_text_area > img{
    width: 700px;
}
.input_fild{
    display: flex;
    padding-top: 20px;
}
.input_text{
    padding: 15px;
    border: 2px solid #E1E5EA;;
    border-radius: 4px 0 0 4px;
}
.btn{
    border-radius: 4px;
    background: #794CFF;
    width: 120px;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.btn_try{
    border-radius: 0px 4px 4px 0px;
    background: #794CFF;
    width: 120px;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.team_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 20px;
}
.team_img{
    padding-top: 20px;
    padding-left: 40px;
}
.highlight-text{
    color: #794CFF;
    font-weight: 700;
}
.timeline_section{
    background-color: #fbfafe;
    width: 100%;
    position: relative;
    display: flex;
}
.inner_timeline{
   width: 100%;
   position: relative; 
   display: flex;
   align-items: center;
   padding: 20px;
}
.left_timeline{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_timeline > img{
    width: 400px;
}
.right_timeline{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.timiline_para{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.card-active{
    width: 60%;
    background-color: #F6F3FC;
    padding: 15px;
    border-left: 4px solid #794CFF;
}
.card-active > p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.card{
    width: 60%;
    padding: 15px;
    margin-top: 10px;
    border-bottom: 2px solid #e0e0e0;
}
.team_service_section{
    width: 100%;
    display: block;
    position: relative;
    padding: 15px;
}
.inner_team_service{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.inner_team_service > .team_h{
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
}
.service_list_section{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_service{
    width: 33.33%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.card_text{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.project_view_section{
    background-color: #fbfafe;
    width: 100%;
    position: relative;
    display: flex;
}
.inner_project_view{
   width: 100%;
   position: relative; 
   display: flex;
   align-items: center;
   padding: 20px;
}
.left_project_view{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 60px;
}
.left_project_view>h6{
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}
.left_project_view > img{
    width: 400px;
}
.right_project_view{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.customer_feedback_section{
    width: 100%;
    position: relative;
}
.inner_team_service > p{
    text-align: center;
}
.slider_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.slider{
    width: 33.33%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slider_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.slider_h{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.download_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px;
}
.inner_download{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #794CFF;
    border-radius: 16px;
    padding: 40px;
}
.download_text{
    width: 50%;
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    padding: 30px;
    text-align: left;
}
.download_logo{
    width: 50%;
    display: flex;
    padding-left:30px ;
}
.download_logo > img{
    margin-left: 10px;
}
footer{
    width: 100%;
    height: 355px;
    position: relative;
    background-color: #1D2830;
}
.footer_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 60px;
}
.footer_menu_list{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.footer_menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.footer_menu li{
    color: #fff;
    list-style: none;
    margin-top: 10px;
}
.footer_download{
    width: 20%;
    display: flex;
    flex-direction: row;

}
.list_bold{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.footer_logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer_logo li{
    color: #fff;
    list-style: none;
    margin-top: 10px;
}
.copy-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.left_side{
    width: 50%;
    text-align: left;
    color: #fff;
}
.right_side{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer_social > li{
    margin-left: 15px;
}